<div class="parentDiv">
 
    <div>
        <div>
            
            <app-area></app-area>
           
        </div>
        <div fxLayouts="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
   
            <mat-card fxFlex="40%">
                <app-pie></app-pie>
               
            </mat-card>
            <div fxFlex="60%">
                <app-table></app-table>
            </div>
          </div>
        <div fxLayouts="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
            <mat-card fxFlex="50%">
                <app-card></app-card>
            </mat-card>
            <mat-card fxFlex="50%">
                <app-card></app-card>
            </mat-card>
            
           
        </div>
    </div>
</div>